<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <button class="btn btn-blue" (click)="startGame()"> START </button>
      <hr>

      <div class="alert-loser" *ngIf="looserMessage === true">
        <h2>Przegrałeś!</h2>
        <p>Naciśnij <strong>START </strong> i zagraj jeszcze raz!</p>
      </div>

      <div class="alert-winner" *ngIf="winnerMessage === true">
        <h2>Wygrałeś!</h2>
        <p>Naciśnij <strong>START </strong> i zagraj jeszcze raz!</p>
      </div>

      <div class="number-info">
        <p>Poziom: {{numberOfLevel}}</p>
        <p>Znalezione pola: {{countGoodPoints}}</p>
        <p>Czas: {{countTime}}</p>
      </div>




    </div>
    <div class="col-lg-6">
      <div class="grid-container">

        <div *ngFor="let row of basicArray; index as i;">
          <div *ngFor="let column of row; index as j;">
            <div class="grid-item"
                 (click)="chooseSpecificCell(i, j)"
                 [@divState]="statusColor(i, j)">
            </div>
          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
</div>








