<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <br><br>
      <button class="btn btn-danger" (click)="generateGameBoard()"> START </button>
      <hr>
      <p>Lvel: {{numberOfLevel}}</p>
      <br><br>
      <p>Found cell: {{countGoodPoints}}</p>

      <div class="alert alert-danger" *ngIf="looserMessage === true">
        <h2>Przegrałeś!</h2>
        <p>Naciśnij START i zagraj jeszcze raz!</p>
      </div>

      <div class="alert alert-info" *ngIf="winnerMessage === true">
        <h2>Wygrałeś!</h2>
        <p>Naciśnij START i zagraj jeszcze raz!</p>
      </div>

    </div>
    <div class="col-lg-4">
      <div class="grid-container">

        <div *ngFor="let row of basicArray; index as i;">
          <div *ngFor="let column of row; index as j;">
            <div class="grid-item"
                 (click)="chooseSpecificCell(i, j)"
                 [@divState]="statusColor(i, j)">
            </div>
          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
</div>








